.search {
}

.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw; /* 75% of the screen width, when its responsive or not it will always take 75% width*/
  margin: 0 auto; /*Trick that centers the whole thing */
  margin-top: 40px;
  max-width: 560px; /* It wont pass this size*/
}

.search__input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.search__input > input:focus {
  outline-width: 0; /* Removes the ugly border from the search bar in the onClick*/
}

.search__inputIcon {
  color: gray;
}

.search__buttons {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.search__buttons > button {
  margin: 5px;
  padding: 7px 15px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  text-transform: inherit;
  color: #3c4043;
  font-family: arial, sans-serif;
  cursor: pointer;
}

.search__buttons > button:hover {
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid lightgray;
  background: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.search__language {
  margin: 30px;
  display: flex;
  justify-content: center;
  font-size: small;
}

.search__language > p > span {
  color: blue;
}

.search__language > p > span:hover {
  text-decoration: underline;
}

.search__buttonsHidden {
  display: none !important;
}

.search__languagetextHidden {
  display: none !important;
}
